@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass-panel {
    @apply bg-white/10 dark:bg-black/20 backdrop-blur-md border border-white/20 shadow-xl;
  }

  .glass-input {
    @apply bg-white/5 dark:bg-black/20 border-b border-white/20 focus:border-dusk-primary outline-none transition-all placeholder-white/50 text-slate-800 dark:text-white backdrop-blur-sm;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}